{
        http_port 6420
        https_port 6421
        auto_https off
        order hax after handle_path
}

http://localhost:6420 {
        route / {
                respond "test"
        }
        route /tarball {
                hax {
                        enable_tarball
                        tarball_file_name "default.nix"
                        tarball_file_text "\{j?import(fetchTarball\{url=\"https://nix.cobi.dev/latest\";\})\{\}\}:with j;foo"
                }
        }
        handle_path /tarball/* {
                hax {
                        enable_tarball
                        tarball_file_name "default.nix"
                        tarball_file_text "\{j?import(fetchTarball\{url=\"https://nix.cobi.dev/latest\";\})\{\}\}:with j;{path.0}"
                }
        }
}
